<h2 class="page-header">用户登录</h2>
<flash-messages></flash-messages>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="name">用户名：</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="password">密码：</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>
